
body {
  background-color: maroon;
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
}

#score, #highScore {
  color: white;
}

.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
  border-radius: 10px;
}

.snake {
  background-color: darkred;
  z-index: 2;
}

#snake-head {
  background-color: red;
}

.apple {
  background-color: goldenrod;
  z-index: 1;
}